.App {
  text-align: center;
}

.headder{
  border-bottom: 1px solid #94949480;

  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.headderLeft,
.headderRight{
  display: flex;
  font-weight: 350;
}

#title{
  font-size: 28px;
  padding: 1.375rem 1rem 1.375rem 1.5rem;
  font-weight: 700;
  color: #2557a7;
}

#title :hover{
  cursor: grab;
}

.nav{
  display: flex;
  
}

.navLink{
  margin: 0;
  font-size: 14px;
  margin-right: 1.5rem;
  color: #2d2d2d;;
}

.navLink > div {
  padding-top: 2rem;
}

.navLink:hover,
.current{
  border-bottom: 3px #2557a7 solid;
  cursor:grab;
}

.divide > div{
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  width: 1px;
  height: 30px;
  background-color: #94949480;
}

#signIn {
  color: #2557a7;
  font-weight: 700;
}

.searchContainer{
  min-width: 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.searchBar{
  display: flex;
  flex-grow: 1;
}

.searchField{
  display: flex;
  margin-right: 0.875rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  text-align: left;
  border: 1px solid #949494;
  border-radius: 0.5rem;
  align-items: center;
  padding: 0.75rem 1rem;
}

.searchField>label{
  margin: 0 1rem 0 0;
  line-height: 1.125rem;
  word-break: keep-all;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
}

.searchField>input{
  border: none;
  padding: 0 1.5rem 0 0;
  color: #2d2d2d;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0;
  flex: 1
}

.searchField>div{
  display: inline-flex;
  justify-self: flex-end;
}

.searchImg{
  opacity: 50%;
  height: 17px;
}

#submit{
  background-color: #2557a7;
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;
  letter-spacing: 0;
  margin: 0 0 1rem;
  text-align: center;
  flex-shrink: 0;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  display: block;
  box-shadow: none;
  min-width: 94px;
  max-width: 100px;
}

.invite{
  display: flex;
  justify-content: space-around;
}

.content > div{
  margin:auto;
  max-width: fit-content;
  padding: 0.5rem;
}

#dash{
  margin: 0 3px;
}